 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1070px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 41px 126px 0 12px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 22px;
  margin: -25px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 26px 13px 0 10px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: -3px 13px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: -37px 110px 0 59px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -6px auto 0 58px;
}

.u-section-1 .u-text-6 {
  margin: -48px auto 0 222px;
}

.u-section-1 .u-shape-1 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -18px auto 0 204px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 37px 112px 0 59px;
}

.u-section-1 .u-text-8 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -9px auto 0 58px;
}

.u-section-1 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: -45px auto 0 12px;
}

.u-section-1 .u-text-9 {
  margin: -39px 15px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -14px 48px 0 auto;
}

.u-section-1 .u-text-10 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 40px 83px 0 59px;
}

.u-section-1 .u-shape-3 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -18px 48px 0 auto;
}

.u-section-1 .u-text-11 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -3px 54px 0 59px;
}

.u-section-1 .u-text-12 {
  margin: -42px 15px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 40px;
  height: 40px;
  margin: -18px auto 0 11px;
}

.u-section-1 .u-image-4 {
  width: 40px;
  height: 40px;
  margin: 8px auto 0 11px;
}

.u-section-1 .u-text-13 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: -34px 69px 0 58px;
}

.u-section-1 .u-text-14 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -10px 54px 0 59px;
}

.u-section-1 .u-shape-4 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -36px 48px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: -15px 21px 0 auto;
}

.u-section-1 .u-text-16 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 31px 7px 0 59px;
}

.u-section-1 .u-text-17 {
  margin: -26px 8px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 40px;
  height: 40px;
  margin: -19px auto 0 11px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: 0 92px 0 12px;
}

.u-section-1 .u-btn-1 {
  font-weight: 600;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 20px 14px 0 12px;
}

.u-section-1 .u-text-20 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 14px 7px 0 58px;
}

.u-section-1 .u-text-21 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -8px 6px 0 59px;
}

.u-section-1 .u-shape-5 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -39px 48px 0 auto;
}

.u-section-1 .u-text-22 {
  margin: -18px 9px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 40px;
  height: 40px;
  margin: -19px auto 0 12px;
}

.u-section-1 .u-text-23 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 11px 7px 0 58px;
}

.u-section-1 .u-text-24 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -7px 8px 0 57px;
}

.u-section-1 .u-shape-6 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -39px 48px 0 auto;
}

.u-section-1 .u-text-25 {
  margin: -19px 11px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 40px;
  height: 40px;
  margin: -19px auto 0 12px;
}

.u-section-1 .u-text-26 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: 11px 7px 0 58px;
}

.u-section-1 .u-text-27 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -4px 11px 0 54px;
}

.u-section-1 .u-shape-7 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -43px 48px 0 auto;
}

.u-section-1 .u-text-28 {
  margin: -18px 9px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 40px;
  height: 40px;
  margin: -19px auto 0 12px;
}

.u-section-1 .u-image-9 {
  width: 40px;
  height: 40px;
  margin: 20px auto 0 11px;
}

.u-section-1 .u-text-29 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 700;
  margin: -48px 6px 0 59px;
}

.u-section-1 .u-text-30 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin: -7px 8px 0 57px;
}

.u-section-1 .u-shape-8 {
  width: 10px;
  height: 10px;
  background-image: none;
  margin: -39px 48px 0 auto;
}

.u-section-1 .u-text-31 {
  margin: -18px 7px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 600;
  margin: 30px auto 0 12px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1070px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-line-1 {
  left: 15px;
  top: 370px;
  transform-origin: left center 0px;
  position: absolute;
  width: 325px;
}

.u-section-1 .u-line-2 {
  left: auto;
  top: 370px;
  transform-origin: left center 0px;
  position: absolute;
  width: 351px;
  right: 0;
}

.u-section-1 .u-line-3 {
  left: 15px;
  top: 717px;
  transform-origin: left center 0px;
  position: absolute;
  width: 325px;
}

.u-section-1 .u-line-4 {
  left: auto;
  top: 717px;
  transform-origin: left center 0px;
  position: absolute;
  width: 351px;
  right: 0;
}

.u-section-1 .u-text-32 {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 17px 625px 0 120px;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px 715px 0 15px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  letter-spacing: 0px;
  margin: 300px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1429em;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  letter-spacing: 0px;
  margin: 324px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1429em;
}

.u-section-1 .u-text-34 {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 14px 635px 0 94px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -23px 754px 0 15px;
}

.u-section-1 .u-list-1 {
  width: 859px;
  margin: 14px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 5px 5px;
  grid-auto-columns: calc(16.6667% - 4.16667px);
  grid-template-columns: calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px);
  min-height: 265px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-36 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-38 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-39 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-40 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-41 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-42 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-43 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-14 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-44 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-45 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-15 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-46 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-47 {
  font-size: 0.875rem;
  margin: 5px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 859px;
  background-image: none;
  margin: -1004px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-16 {
  height: 160px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-48 {
  font-size: 0.75rem;
  margin: 11px 0 0 auto;
}

.u-section-1 .u-image-17 {
  width: 40px;
  height: 40px;
  margin: -11px auto 0 0;
}

.u-section-1 .u-text-49 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -29px 149px 0 49px;
}

.u-section-1 .u-text-50 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 49px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: 7px auto 0 49px;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px 83px 0 auto;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px 16px 0 auto;
  padding: 2px 9px 3px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-18 {
  height: 160px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-51 {
  font-size: 0.75rem;
  margin: 12px 0 0 51px;
}

.u-section-1 .u-image-19 {
  width: 40px;
  height: 40px;
  margin: -11px auto 0 2px;
}

.u-section-1 .u-text-52 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -29px 143px 0 51px;
}

.u-section-1 .u-text-53 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 51px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: 5px auto 0 51px;
  padding: 2px 9px 3px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-20 {
  height: 160px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-54 {
  font-size: 0.75rem;
  margin: 12px 2px 0 50px;
}

.u-section-1 .u-image-21 {
  width: 40px;
  height: 40px;
  margin: -10px auto 0 0;
}

.u-section-1 .u-text-55 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -31px 146px 0 50px;
}

.u-section-1 .u-text-56 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 50px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: 3px auto 0 50px;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px 76px 0 auto;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px 27px 0 auto;
  padding: 2px 9px 3px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 859px;
  background-image: none;
  margin: 61px 0 60px auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 287px;
}

.u-section-1 .u-container-layout-12 {
  padding: 2px 0;
}

.u-section-1 .u-image-22 {
  height: 160px;
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-57 {
  font-size: 0.75rem;
  margin: 11px 0 0 auto;
}

.u-section-1 .u-image-23 {
  width: 40px;
  height: 40px;
  margin: -11px auto 0 0;
}

.u-section-1 .u-text-58 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -29px 149px 0 49px;
}

.u-section-1 .u-text-59 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 49px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 294px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-image-24 {
  height: 160px;
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-60 {
  font-size: 0.75rem;
  margin: 10px 1px 0 50px;
}

.u-section-1 .u-image-25 {
  width: 40px;
  height: 40px;
  margin: -11px auto 0 1px;
}

.u-section-1 .u-text-61 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -29px 144px 0 50px;
}

.u-section-1 .u-text-62 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 50px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: 5px auto 0 50px;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px auto 0 99px;
  padding: 2px 9px 3px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: -22px auto 0 158px;
  padding: 1px 9px 3px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 287px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-26 {
  height: 160px;
  margin: -1px auto 0 20px;
}

.u-section-1 .u-text-63 {
  font-size: 0.75rem;
  margin: 12px 2px 0 50px;
}

.u-section-1 .u-image-27 {
  width: 40px;
  height: 40px;
  margin: -10px auto 0 0;
}

.u-section-1 .u-text-64 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -31px 146px 0 50px;
}

.u-section-1 .u-text-65 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 0 auto 0 50px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  --radius: 50px;
  font-size: 0.75rem;
  margin: 3px auto 0 50px;
  padding: 2px 9px 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 882px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 91px;
    margin-left: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 179px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -36px;
    margin-right: 86px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 179px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -19px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 38px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -35px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 46px;
    margin-right: 60px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-11 {
    width: 149px;
    margin-top: 2px;
    margin-right: 31px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -52px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -25px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 46px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 31px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 38px;
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -36px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 882px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 52px;
    margin-right: 548px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -58px;
    margin-right: 577px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 558px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 616px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 721px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 4.16667px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 4.16667px));
    min-height: 221px;
  }

  .u-section-1 .u-image-10 {
    height: 154px;
  }

  .u-section-1 .u-image-11 {
    height: 154px;
  }

  .u-section-1 .u-image-12 {
    height: 154px;
  }

  .u-section-1 .u-image-13 {
    height: 154px;
  }

  .u-section-1 .u-image-14 {
    height: 154px;
  }

  .u-section-1 .u-image-15 {
    height: 154px;
  }

  .u-section-1 .u-image-18 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-26 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 40px;
    margin-left: 4px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 4px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 44px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -61px;
    margin-right: 60px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 132px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 63px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 44px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -60px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 34px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 14px;
    margin-right: 422px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-top: -19px;
    margin-right: 388px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 406px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 447px;
  }

  .u-section-1 .u-list-1 {
    width: 552px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.3333359999999996px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333359999999996px));
    min-height: 992px;
  }

  .u-section-1 .u-image-10 {
    height: 118px;
  }

  .u-section-1 .u-image-11 {
    height: 118px;
  }

  .u-section-1 .u-image-12 {
    height: 118px;
  }

  .u-section-1 .u-image-13 {
    height: 118px;
  }

  .u-section-1 .u-image-14 {
    height: 118px;
  }

  .u-section-1 .u-image-15 {
    height: 118px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-16 {
    height: 134px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 126px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 37px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-18 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-51 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-19 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 120px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 28px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 28px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-20 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 123px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 30px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-22 {
    height: 134px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 126px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 26px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-image-24 {
    height: 134px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-image-25 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 121px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 53px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 112px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-image-26 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-63 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 123px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-65 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-15 {
    margin-bottom: -1px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -36px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 308px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 326px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -35px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 410px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 394px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 435px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.500002px);
    grid-template-columns: repeat(2, calc(50% - 2.500002px));
  }

  .u-section-1 .u-image-10 {
    height: 151px;
  }

  .u-section-1 .u-image-11 {
    height: 151px;
  }

  .u-section-1 .u-image-12 {
    height: 151px;
  }

  .u-section-1 .u-image-13 {
    height: 151px;
  }

  .u-section-1 .u-image-14 {
    height: 151px;
  }

  .u-section-1 .u-image-15 {
    height: 151px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-16 {
    height: 302px;
  }

  .u-section-1 .u-image-18 {
    height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    margin-top: -11px;
  }

  .u-section-1 .u-image-20 {
    height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-22 {
    height: 302px;
  }

  .u-section-1 .u-image-24 {
    height: 302px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 1px;
  }

  .u-section-1 .u-image-25 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 122px;
  }

  .u-section-1 .u-image-26 {
    height: 302px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 80px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 156px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 99px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 235px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-10 {
    height: 95px;
  }

  .u-section-1 .u-image-11 {
    height: 95px;
  }

  .u-section-1 .u-image-12 {
    height: 95px;
  }

  .u-section-1 .u-image-13 {
    height: 95px;
  }

  .u-section-1 .u-image-14 {
    height: 95px;
  }

  .u-section-1 .u-image-15 {
    height: 95px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-16 {
    height: 190px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-image-18 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-51 {
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-20 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.625rem;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-22 {
    height: 190px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-59 {
    margin-left: 0;
  }

  .u-section-1 .u-image-24 {
    height: 190px;
  }

  .u-section-1 .u-text-60 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-61 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-62 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-26 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-63 {
    margin-left: 0;
  }

  .u-section-1 .u-text-64 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-65 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    font-size: 0.625rem;
    margin-bottom: -4px;
    margin-left: 0;
  }
}